# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Airflow
logs/
airflow.db

# Data (generated)
data/parquet/

# dbt artifacts
dbt/target/
dbt/dbt_packages/
dbt/.user.yml

# Spark JARs (download manually per README)
spark/jars/*.jar

# Env
.env
