*.pyc
__pycache__/
.env
.venv/
venv/

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl

# Spark JARs (downloaded locally, not committed)
spark/jars/*.jar

# Airflow
logs/
airflow.db

# dbt
dbt/target/
dbt/dbt_packages/

# Data
data/
