apache-airflow==2.9.1
apache-airflow-providers-postgres==5.10.2
pyspark==3.5.1
psycopg2-binary==2.9.9
pyarrow==15.0.2
pandas==2.2.2
dbt-core==1.8.3
dbt-postgres==1.8.3
pytest==8.2.2
pytest-cov==5.0.0
